<div class="row">
  <div class = "large-12 columns">
    <h4>List of People</h4>
    <ul class="inline-list people">
    <% @people.each do |person| %>
      <li><%= link_to person.name, person %></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
    <ul class="button-group">
      <li><%= link_to 'Create new Person', new_person_path, class: "button" %></li>
      <li><%= link_to 'Add new School', new_school_path, class: "button" %></li>
      <li><%= link_to 'Add new Life Event', new_event_path, class: "button" %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>Latest entries</h4>
  </div>
  <div class="large-6 columns left">
    <div data-alert class="panel">
      <h5>
        <%= @events.last.title %> has been entered by
        <%= @events.last.person.name %> on
        <%= @events.last.date %>
      </h5>
    </div>
    <h5><%= link_to "See all your events", events_path %></h5>
  </div>

  <div class="large-6 columns right">
    <div data-alert class="panel">
      <h5>
        <%= @schools.last.person.name %> attended to
        <%= @schools.last.name %> from
        <%= @schools.last.beginning_year %> to
        <%= @schools.last.end_year %>
      </h5>
    </div>
    <h5><%= link_to "See all your schools", schools_path %></h5>
  </div>
</div>
